<div class="container d-flex align-items-center justify-content-between">

  <img class="logotype" src="/assets/img/logos/logo.png" alt="Logotipo del cine"/>

  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" class="nav-link"
        [routerLink]="['/']"
        routerLinkActive="router-link-active">Home</a></li>
      <li><a class="nav-link scrollto" class="nav-link"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active">Admin</a></li>
      <li><a class="nav-link scrollto" class="nav-link"
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active">Contact</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

</div>