<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>CineWorld 2021</p>
            <p>Universidad Pedagogica y Tecnologica de Colombia</p>
            <p>willin.fuentes@uptc.edu.co astrid.cely@uptc.edu.co<br/>
                <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="router-link-active"
          >Contacto</a
        >
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="https://www.facebook.com/universidaduptc" target="_blank"><img src="/assets/icons/facebook.png"></a>
            </li>
            <li>
                <a href="https://twitter.com/universidaduptc" target="_blank"><img src="/assets/icons/twitter.png"></a>
            </li>
        </ul>
    </div>
    <div class="credit text-center">Copyright @ 2021 by <span>Astrid Cely</span>,<span> Willin Fuentes</span> All Rights Reserved </div>
</footer>
